
<div class="d-flex flex-wrap overflow-scroll">
    <% for (course of courses) {%>
        <div class="p-3 m-3 border border-primary bg-light">
            <p><span class="h2 text-center"><%= course['subject'] %><%= course.coursenum %></span></p>
            <p><span class="fw-bold">Course name</span><span>: <%= course.name %></span></p>
            <p><span class="fw-bold">Term</span><span>: <%= course.term %></span></p>
        </div>
    <% }%>
    </div>
<!--
    <pre>
        <%= JSON.stringify(courses,null,5) %>
    </pre>
-->