
<div class="d-flex flex-wrap text-center overflow-scroll">
    <% for (course of courses) {%>
        <div class="p-3 m-3 border border-primary bg-light">
            
            <br>
            <%= course['subject'] %>
            <%= course.coursenum %>
            <%= course.name %>
            <%= course.term %>
        </div>
    <% }%>
    </div>
<!--
    <pre>
        <%= JSON.stringify(courses,null,5) %>
    </pre>
-->